

header{
    position: fixed;
    z-index: 900;
}
.home-learn-it {
    min-height: 100vh;
}

@media only screen and (min-width: 600px) {
    .home-learn-it .hli-content {
        margin: 200px auto 0;
    }
}
